.home-container {
    height: 100%;
    background-color:#353535;
    border: 1px solid #353535;

}

.home-content {
    display: block;
    width: auto;
    background-color: white;
    margin: 5%;
    margin-bottom: 42vh;
}
.section-title {
    display: flex;
    width: auto;
    border-bottom: 3px solid black;
    margin-left: 2vw;
    margin-right: 2vw;
}
.titles {
    display: inline-block;
    font-size: 5vmin;
    margin-left: 2vw;
    margin-bottom: 1vh;

}
.addition-button {
    display: inline-block;
    border: 0.4vh solid white;
    height: 4vh;
    margin-top: 6.5vh;
    margin-right: 2vw;
}
.addition-button:hover {
    border: 0.4vh solid black;
}
.addition-icon {
    width: 4vh;
    height: 4vh;
    margin: 0;
}
.title-space {
    width: 141vw;
}
.stocks-content-section {
    display: flex;
    flex-wrap: wrap;

}
.stock-text{
    font-size: 2vmin;
    margin: 2vmin;
    text-align: center;
}
