/*New CSS code*/
.Nav-bar {
  height: 8vh;
  background-color: #ff7171;
  width: 100%;

}
.nav-bar-content {
  display: block;
  align-content: center;
}
.nav-logo {
  display: inline;
  height: 6vh;
  width: 6vh;
  vertical-align: top;
  margin: 1vmin;
}
.menu-tab {
  display: inline-block;
  width: auto;
  margin-left: 2vmin;
  margin-top: 1vmin;
  color: #353535;
  font-size: 3vmin;

}
.menu-tab:hover {
  color: white;
  border-bottom: 4px solid white;
}
.logout-menu-tab {
  display: inline-block;
  width: auto;
  cursor: pointer;
  margin-top: 1vmin;
  color: #353535;
  font-size: 3vmin;
  
}
.logout-menu-tab:hover {
  color: white;
  border: 1px solid white;
}
.logout-menu-text {
  margin: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 0.5vh;

}
.menu-text {
  margin: 0;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 1vh 0.5vw;
}
.nav-space {
  display: inline-block;
  border: 1px sold white;
  width: 30.2%;
  
}