.search-container {
    height: 92vh;
    background-color: #353535;
    border: 1px solid #353535;
}
.search-content{
    display: block;
    width: auto;
    height: 100vh;
    border: 1px solid white;
    margin: 6vmin;

    flex-wrap: wrap;
}
.search-area {

    width: auto;
}
.search-bar {
    display: inline;
    width: 50vw;
    height: 5.5vmin;
    padding: 5px 15px;
    font-size: 3vmin;
    border-radius: 6px;
    margin:0;
    margin-left: 20%;
    
}
.search-bar:focus {
    outline-offset: -0.25vmin;
    outline: 3px solid #ff5353;
}
.search-button {
    display: inline-flex;
    height: 7vmin;
    width: 7vmin;
    vertical-align: bottom;
}
.search-icon {
    height: 7vmin;
    width: 7vmin;
    color:#c7cccb;
    padding: 0.2vmin 0.5vmin;
}
.search-icon:hover {
    color: white;
}
.search-result-area {
    width: auto;
    height: 50vh;
    margin: 10%;
    margin-top: 5vh;
    background-color: white;
}
.search-result-container {
    
    box-shadow: 0px 0px 4px #c7cccb;
    height: auto;

 
}
/**/
.search-results {
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
}
.search-stock-info {
    
    border: 1px solid black;
    font-size: 4vmin;


}
.stock-addition-button {
    
}