.search-container {
    height: 100%;
    
    background-color: #353535;
    border: 1px solid #353535;
    
}
.search-content{
    display: block;
    width: auto;
    height: auto;
    min-height: 80vh;
    margin: 6vmin;
    margin-bottom: 5.8vmin;
    flex-wrap: wrap;
}
.search-area {
    width: auto;
}
.search-bar-form{
    display: inline;
}
.search-bar {
    display: inline;
    width: 50vw;
    height: 5.5vmin;
    padding: 5px 15px;
    font-size: 3vmin;
    border-radius: 6px;
    margin:0;
    margin-left: 20%;
    
}
.search-bar:focus {
    outline-offset: -0.25vmin;
    outline: 3px solid #ff5353;
}
.search-button {
    display: inline-flex;
    height: 7vmin;
    width: 7vmin;
    vertical-align: bottom;
}

.search-icon {
    height: 7vmin;
    width: 7vmin;
    color:#c7cccb;
    padding: 0.2vmin 0.5vmin;
}
.search-icon:hover {
    color: white;
    cursor: pointer;
}
.search-result-area {
    width: auto;
    height: auto;
    min-height: 65vh;
    margin: 10%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: white;
    border-radius: 5px;
}
.search-result-container {
    box-shadow: 0px 0px 4px #c7cccb;
    height: auto;
}
/**/
.search-results {
    border: 2px solid black;
    border-left: 0;
    border-right: 0;
}
.search-stock-info {
    border: 1px solid black;
    font-size: 4vmin;
}

.stock-graphContent {
    width: 100%;
}

.stock-titleBarArea {
    display: flex;
    border-bottom: 3px solid #828282;
    width: 80%;
    margin-left: 10%;
}
.stock-titleBarText {
    margin: 0;
    margin-left: 5%;
    margin-top: 3%;
    width: 107vh;
}
.stock-nameText {
    font-size: 5vmin;
    margin: 0;
}
.stock-titleBarIcon {
    width: 5vmin;
    height: 5vmin;
    margin-top: 4.1%;
}
.stock-favoriteIcon {
    width: 4.5vmin;
    height: 4.5vmin;
}
.stock-graph {
    border: 1px solid #828282;
    margin-top: 5vmin;
    margin-bottom: 5vh;
    margin-left: 25vmin;
    border-radius: 4px;
    
}
.stock-details-section {
    border-top: 1px solid #dddddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 8vmin;
    
}
.stock-details {
    font-size: 3vmin;
    text-align: center;
    padding: 2vmin;
    margin: 0;
    margin-bottom: 20vh;
}
.stock-details {
    /*
    border: 1px solid black;
    */
    
    height: 40vh;
    
}
.stock-table {
    border: 1px solid red;
}
.stock-tab {
    border-bottom: 5px solid #c7cccb;
    width: 40%;
    display: inline-block;
}
.table-label {
    width: 60%;
    display: inline-block;
    text-align: start;
    font-weight: 400;
    font-size: 2.5vmin;
}
.table-value {
    width: 39%;
    display: inline-block;
    text-align: end;
    font-weight: 200;
    font-size: 2.5vmin;
}
.table-textLeft{
    margin: 2vmin;
    margin-left: 2vmin;
}
.table-textRight {
    margin: 2vmin;
    margin-right: 2vmin;
}